card
{
    /*position: relative;*/
    /*height: 50px !important;
    width: 50px !important;*/
}
.card img
{
    /*display: block;
    margin: auto;*/
    /*padding: 15px 0;*/
}
.card .info
{
    /*position: absolute;*/
    /*top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    background-color: black;
    opacity: 0;
    text-align: center;
    font-size: 15pt;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;    
    -o-transition: all 0.4s ease-in-out;*/
}
.card:hover .info
{
    /*opacity: 0.8;*/
}
.info .address
{
    /*padding-top: 20px;*/
    /*font-size: 10pt;*/
}
.info p
{
    /*margin-top: 45px;*/
}
.card .info p,
.card .info span
{
    /*opacity: 0;
    -webkit-transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;    
    -o-transition:all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);*/
}
.card:hover .info p,
.card:hover .info span
{
    /*opacity: 1;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);*/
}
