
.vs/ControlProductos/v14/.suo
ControlProductos/bin/ControlProductos.dll
ControlProductos/bin/ControlProductos.pdb
ControlProductos/ControlProductos.csproj
ControlProductos/ControlProductos.csproj.user
ControlProductos/obj/Debug/ControlProductos.csprojResolveAssemblyReference.cache
ControlProductos/obj/Debug/ControlProductos.dll
ControlProductos/obj/Debug/ControlProductos.pdb
ControlProductos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
